extends layout

block content
  <div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
      <a class="header item">Julio's Pools</a>
      <div class="right menu">
        <div class="item">
          <div class="ui small input">
            <input placeholder="Search..." />
          </div>
        </div>
        <a class="item">Dashboard</a> <a class="item">Settings</a>
        <a class="item">Profile</a> <a class="item">Help</a>
      </div>
    </div>
  </div>
  <div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
      <a class="header item">Project Name</a>
      <div class="right menu">
        <div class="item">
          <button class="ui icon toggle basic inverted button">
            <i class="content icon"></i>
          </button>
        </div>
      </div>
      <div class="ui vertical borderless inverted fluid menu">
        <a class="item">Dashboard</a> <a class="item">Settings</a>
        <a class="item">Profile</a> <a class="item">Help</a>
        <div class="ui fitted divider"></div>
        <div class="item">
          <div class="ui small input">
            <input placeholder="Search..." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui padded grid">
    <div class="three wide tablet only three wide computer only column" id="sidebar">
      <div class="ui vertical borderless fluid text menu">
        <a class="active item" onclick="loadHome()">Overview</a> <a class="item">Reports</a>
        <a class="item">Analytics</a> <a class="item">Export</a>
        <div class="ui hidden divider"></div>
        <a class="item">Nav item</a> <a class="item">Nav item again</a>
        <a class="item">One more nav</a>
        <a class="item">Another nav item</a>
        <a class="item">More navigation</a>
        <div class="ui hidden divider"></div>
        <a class="item" id="add_new_cust" onclick="onAddClick()">Add New Customer</a>
      </div>
    </div>
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
      <div class="ui padded grid">
        <div class="row">
          <h1 class="ui huge dividing header">Dashboard</h1>
        </div>
        <div class="center aligned row">
          <div class="eight wide mobile four wide tablet four wide computer column">
            <img class="ui centered small circular image" src=""/>
            <div class="ui large basic label">Label</div>
            <p>Something else</p>
          </div>
          <div class="eight wide mobile four wide tablet four wide computer column">
            <img class="ui centered small circular image" src=""/>
            <div class="ui large basic label">Label</div>
            <p>Something else</p>
          </div>
          <div class="eight wide mobile four wide tablet four wide computer column">
            <img class="ui centered small circular image" src=""/>
            <div class="ui large basic label">Label</div>
            <p>Something else</p>
          </div>
          <div class="eight wide mobile four wide tablet four wide computer column">
            <img class="ui centered small circular image" src=""/>
            <div class="ui large basic label">Label</div>
            <p>Something else</p>
          </div>
        </div>
        <div class="ui hidden section divider"></div>
        <div class="row">
          <h1 class="ui huge dividing header">Customers</h1>
        </div>
        <div class="row">
          <table class="ui single line striped selectable unstackable table" id="customer_table">
            <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Size</th>
                <th>Filter Type</th>
                <th>Service History</th>
              </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="close_span" class="close">&times;</span>
      <div id="main_modal_content">Some text in the Modal..</div>
    </div>
  </div>
  

